{{ define "main" }}
<section class="home-info">
    <div class="container">
        <div class="home-info-content">
            {{ with site.Params.homeInfoParams }}
            <h1>{{ .Title | markdownify }}</h1>
            <p>{{ .Content | markdownify }}</p>
            {{ end }}
        </div>
    </div>
</section>

{{ if site.Params.showAllPostsInArchive }}
<section class="recent-posts">
    <div class="container">
        <h2>Latest Posts</h2>
        <div class="post-list">
            {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
            {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
            {{ range $paginator.Pages }}
                {{ partial "post-entry.html" . }}
            {{ end }}
        </div>
        {{ if gt $paginator.TotalPages 1 }}
            {{ partial "pagination.html" . }}
        {{ end }}
    </div>
</section>
{{ else }}
<section class="recent-posts">
    <div class="container">
        <h2>Latest Posts</h2>
        <div class="post-list">
            {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
            {{ range first 5 $pages }}
                {{ partial "post-entry.html" . }}
            {{ end }}
        </div>
        {{ if gt (len $pages) 5 }}
            <div class="more-posts">
                <a href="/posts/">View All Posts â</a>
            </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}

