{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="pagination">
    {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}" class="pagination-link pagination-link-prev">â Newer</a>
    {{ end }}
    
    <span class="pagination-info">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
    
    {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}" class="pagination-link pagination-link-next">Older â</a>
    {{ end }}
</nav>
{{ end }}

